<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="628fdf">  <td>18/10/28 14:12:34</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.startTest()[pri:0, instance:testcases.TC002_CreateLead@1e3c938]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@33433892</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/28 14:12:35</td>   <td>865</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testcases.TC002_CreateLead@1e3c938]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@33433892</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/10/28 14:12:37</td>   <td>2506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.TC002_CreateLead@1e3c938]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@33433892</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/28 14:12:43</td>   <td>9303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_CreateLead@1e3c938]">createLead</td> 
  <td>main@33433892</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/10/28 14:13:37</td>   <td>63059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testcases.TC002_CreateLead@1e3c938]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@33433892</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/10/28 14:13:38</td>   <td>63844</td> <td title="&lt;&lt;ProjectMethods.endTest()[pri:0, instance:testcases.TC002_CreateLead@1e3c938]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@33433892</td>   <td></td> </tr>
</table>
