<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b467">  <td>18/10/28 15:30:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testcases.TC001_LoginLogout@bca1e0]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/10/28 15:31:47</td>   <td>75980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testcases.TC002_CreateLead@286778]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/28 15:30:37</td>   <td>5634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_CreateLead@286778]">createLead</td> 
  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/10/28 15:31:50</td>   <td>78316</td> <td title="&lt;&lt;ProjectMethods.endTest()[pri:0, instance:testcases.TC001_LoginLogout@bca1e0]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/10/28 15:30:22</td>   <td>-9640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.TC001_LoginLogout@bca1e0]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/10/28 15:30:32</td>   <td>696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.TC002_CreateLead@286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/28 15:30:29</td>   <td>-2546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogout.loginLogout(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginLogout@bca1e0]">loginLogout</td> 
  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/28 15:30:20</td>   <td>-11103</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginLogout.setData()[pri:0, instance:testcases.TC001_LoginLogout@bca1e0]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/28 15:30:20</td>   <td>-11103</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testcases.TC002_CreateLead@286778]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8928487</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/10/28 15:30:19</td>   <td>-11853</td> <td title="&gt;&gt;ProjectMethods.startTest()[pri:0, instance:testcases.TC001_LoginLogout@bca1e0]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8928487</td>   <td></td> </tr>
</table>
